.app-header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	color: white;
	z-index: 1000;
}
